{% extends 'cricket.html' %}
{% load static %}

<!-- <div class="col-12 text-center">
    <img src="{% static 'images/Training/Cricket/Bat & Ball/cricketStadium.jpg' %}" alt="" width="30%">
</div> -->

<!-- <ul class="list px-5">
    <li class="mx-5"><p><b></b></p></li>
</ul> -->
<!-- <h3 style="color: #fd7e14;" class="py-4"><b></b></h3> -->

{% block selected %}

<div class="row text-center p-5 h1" style="color: gray;"><b>How To Play Cricket?</b></div>
<hr>
<div class="row px-1">
    <p style="text-align: justify; font-size: 16px;">
        Cricket is a game that requires physical agility to bat, bowl, and field. Two teams of 11 players each play at one time. A set of rules were designed for the game by ICC. These are same for both men and women players. The game begins with captains of both teams and match referee gathering for toss. The toss winning captain is allowed to elect to bat/field first. This process is same across all formats. However, the dress code and fielding restrictions vary by format. It is mandatory for players to wear all white for a Test match, and colored tees and trousers for ODI and T20. Umpires have a key role in the game as they monitor the proceedings. They decide whether the batsman is out, decide on no-ball, wide, and ensure both teams are playing according to the rules.In this section, we will understand few laws of the game and how a cricket match is played. The cricket game begins with the on-field umpire’s signal “Let’s play!”    
    </p>
    <h3 style="color: #fd7e14;" class="py-4"><b>Let’s play! A Glimpse of the Game</b></h3>
    <ul class="list px-5">
        <li class="mx-5"><p>Two batsmen from the batting-side and 11 players from the fielding-side take positions. Two umpires also join them on the field. One stands at the pitch and the other on leg-side.</p></li>
        <li class="mx-5"><p>Suppose A and B are two teams playing a limited over cricket match. Captain of A wins the toss and elects to bat first.</p></li>
        <li class="mx-5"><p>The game starts with bowler from B team bowling to the first batsman of A team. They are usually called opening-bowler and opening-batsman. The first two batsmen are called openers as they start the innings of their team.</p></li>
        <li class="mx-5"><p>The batsmen hits the balls bowled at them and score runs. Fielders attempt to stop the balls that were hit and even catch them to get the batsmen out.</p></li>
        <li class="mx-5"><p>Each bowler bowls 6 legal deliveries to call it an over.</p></li>
        <li class="mx-5"><p>The bowling and batting ends change after every over. The non-striker at the end of every over becomes the striker of the next over.</p></li>
        <li class="mx-5"><p>The wicket-keeper has to change ends after completion of each over. In general, the keeper stands far from stumps when a fast bowler is bowling and closer to stumps when a spinner is in action.</p></li>
        <li class="mx-5"><p>Once a batsman is out, he has to walk out of the field and a new batsman comes to the crease. An innings is regarded as complete if all the batsmen of team A are out or team B has bowled their full quota of overs.</p></li>
        <li class="mx-5"><p>Now, team B comes on to bat in the second innings to chase the target set by team A</p></li>
        <li class="mx-5"><p>Team B is accorded as winners if they achieve the target else, A is victorious.</p></li>
        <li class="mx-5"><p>If the scores are level at the end of match, then it is called a tie.</p></li>
        
    </ul>
    <h3 style="color: #fd7e14;" class="py-4"><b>Scoring</b></h3>
    <ul class="list px-5">
        <li class="mx-5"><p>Manual and electronic scoring is done during the match to avoid any errors.</p></li>
        <li class="mx-5"><p>The scoring is done on cumulative basis. All the runs scored with bat, extra runs like no-ball, wide, etc. are added to team’s total.</p></li>
        <li class="mx-5"><p>In some instances, on-field umpires find it tough to give few decisions like boundaries, out, no-ball, etc. Therefore, they seek help of another umpire, called third-umpire.</p></li>
        <li class="mx-5"><p>he third-umpire looks at video visuals and gives a final decision.</p></li>
    </ul>
</div>
{% endblock %}