{% extends 'cricket.html' %}
{% load static %}

{% block selected %}

<div class="row text-center p-5 h1" style="color: gray;"><b>Participating Countries</b></div>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        Cricket as a sport began in England. The evidences available lead us to believe in south-east England in the beginning of 1900s. During those days, Australia, South Africa, and West Indies were the other countries where the sport was played. Gradually, the sport picked up popularity in the Asian continent as well. India, Pakistan, Sri Lanka, Bangladesh also started playing the sport.    
    </p>
</div>
<h3 style="color: #fd7e14;" class="py-4"><b>Asian Countries Participating in Cricket</b></h3>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        In late 1900s, Asian countries like India, Sri Lanka, and Pakistan have made a mark in world cricket with each winning World Cup once. It led to the founding of Asian Cricket Conference in 1983 that took charge of developing the sport in rest of Asia. By 21st century, Bangladesh had become a new force in Asian cricket. Nepal, Malaysia, and Afghanistan also play competitive cricket now. Amongst these three nations, Afghanistan made headlines by qualifying for the World Cup in 2014. The Asian Cricket Conference was renamed as Asian Cricket Council in 2003, headquartered in Kuala Lumpur. The council is subordinate to ICC and has an association of 25 countries.    
    </p>
</div>
<h3 style="color: #fd7e14;" class="py-4"><b>Non-Asian Countries Participating in Cricket</b></h3>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        England, Australia, West Indies, and South Africa started playing cricket from early 20th century. It was the brain of Abe Bailey, the then President of South Africa Cricket Association, to form an international council. Imperial Cricket Conference was formed in 1906 that was later renamed as International Cricket Council. Zimbabwe, Kenya, Ireland, Netherlands, Canada, Scotland, and UAE have all been part of international tournaments over two decades. United States also adopted the game since last few years. Currently, there are more than 100 countries playing this sport and associated with ICC. International cricket is played in three formats. A five-day match called Test match; same day match comprising 50-over a side called One-day International; and 20-over a side called T-20 International are the three formats. T-20 is the latest and the most popular format over last five years.    
    </p>
</div>
{% endblock %}