{% extends 'cricket.html' %}
{% load static %}

<!-- <div class="col-12 text-center">
    <img src="{% static 'images/Training/Cricket/Bat & Ball/cricketStadium.jpg' %}" alt="" width="30%">
</div> -->

<!-- <ul style="list-style-type: square;" class="px-5 ml-5">
    <li>
    </li>
</ul> -->

{% block selected %}

<div class="row text-center p-5 h1" style="color: gray;"><b>Popular Terms in cricket</b></div>
<hr>
<div class="row px-1">
    <p style="text-align: justify; font-size: 16px;">
        By now, you must have got the hang of terms like batsman, bowler, umpire, stumps, etc. Now, let’s know the terms used at play.
    </p>
    <ul class="list px-5">
        <li class="mx-5"><p><b>Striker</b> − A batsman facing the bowler is caller striker and the opposite end is called non-striker.</p></li>
        <li class="mx-5"><p><b>Off-side/leg-side</b> − One half of the ground is called off-side and the other side is called leg-side. From the perspective of a right handed batsmen, the pitch in front of his body as he takes a strike, i.e. the right side of the pitch is called off-side. Similarly, the left half of the pitch, i.e. the pitch behind his body while taking a strike is called as leg-side.</p></li>
        <li class="mx-5"><p><b>Run</b> − It is the basic unit of scoring in cricket. It is scored when a striking batsman hits the ball bowled and runs between the stumps along with non-striker. It is usually scored in ones, twos, and threes.</p></li>
        <li class="mx-5"><p><b>Four</b> − The ball hit by the batsman crosses the boundary rope by rolling on the ground. Then, it is called a boundary or four runs.</p></li>
        <li class="mx-5"><p><b>Six</b> − The shot that ensures the ball lands directly outside the rope is called six or six runs are allotted to the batsman.</p></li>
        <li class="mx-5"><p><b>No-ball</b> − If a bowler’s foot crosses the popping crease while delivering the ball then, it is called a no-ball. The ball bowled that is directed above waist of the batsman without pitching on the ground is a no-ball too.</p></li>
        <li class="mx-5"><p><b>Wide</b> − A ball that is bowled away from the batsman and moves wide of the return crease on the off-side at the batting end is called wide. Another definition is ball bowled that bounces over the head of the batsman after pitching is also called wide.</p></li>
        <li class="mx-5"><p><b>Out</b> − When a batsman gets out, it gives opportunity to the next person on the batting side to play until 10 players out of 11 are dismissed in various ways. Bowled, Caught, Run-out, LBW, and Stumped are the most common ways of getting out.</p></li>
        <li class="mx-5"><p><b>Bowled</b> − It is a way of getting out where the batsman misses the ball bowled and the stumps behind are disturbed.</p></li>
        <li class="mx-5"><p><b>Caught</b> − A batsman is declared out when the fielder catches the ball on full that is hit by the batsman. If it is caught by the wicket-keeper then, it is called caught-behind.</p></li>
        <li class="mx-5"><p><b>LBW</b> − LBW stands for leg-before wicket. A batsman is declared out as lbw when he tries to play the ball with the body that is directed on to stumps.</p></li>
        <li class="mx-5"><p><b>Run-out</b> − If a fielder disturbs the stumps with ball in hand while the batsman is not in crease after playing a shot, then the batsman is declared run-out.</p></li>
        <li class="mx-5"><p><b>Stumped</b> − A batsman moves out of crease to play a ball and misses, the keeper gathers the ball and hits the stumps with ball in hand. Then, the batsman is declared out as stumped.</p></li>
        <li class="mx-5"><p><b>Spin bowling</b> − Bowlers run short distance from stumps and release the ball with the use of wrist or fingers to get maximum revolutions. The ball tossed in the air spins after pitching. Off-break and leg-break are two varieties of spin bowling.</p></li>
        <li class="mx-5"><p><b>Fast bowling</b> − Bowlers sprint and deliver the ball at high speed to batsman. To do so, they take long run-up from stumps. Slow-medium, medium-fast, and fast are the popular fast bowling varieties.</p></li>
        <li class="mx-5"><p><b>Extra runs</b> − All the runs given by fielding team where the batsmen have not hit the ball with the bat are considered as extra runs. For example, wide, no-ball, etc.</p></li>
        <li class="mx-5"><p><b>Innings</b> − A session of batting and bowling where either the batting team is all-out or the permissible number of overs to be bowled by the fielding team is completed.</p></li>
    </ul>
</div>
{% endblock %}