{% extends 'cricket.html' %}
{% load static %}

{% block selected %}
    
<div class="row">
    <img src="{% static 'images/Training/Cricket/learnCricket.jpg' %}" class="col-12" alt="">
</div>
<div class="row text-center p-5 h1" style="color: gray;"><b>Cricket Tutorial</b></div>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        Cricket, initially said to be England’s national summer game, has gained immense popularity worldwide. Such is the popularity that it is not only restricted to the professional field, rather people of all ages and gender can be seen playing cricket in their streets and backyards. This tutorial explains the basic rules of the game. It provides information on the cricket pitch and the important gears used during the play. Some important terminologies and legends of the game are also discussed.
    </p>
</div>
{% endblock %}
















