{% extends 'cricket.html' %}
{% load static %}

<!-- <div class="col-12 text-center">
    <img src="{% static 'images/Training/Cricket/Bat & Ball/cricketStadium.jpg' %}" alt="" width="30%">
</div> -->

<!-- <ul class="list px-5">
    <li class="mx-5"><p><b></b></p></li>
</ul> -->
<!-- <h3 style="color: #fd7e14;" class="py-4"><b></b></h3> -->
<!-- <p style="text-align: justify; font-size: 16px;"></p> -->

{% block selected %}

<div class="row text-center p-5 h1" style="color: gray;"><b>Cricket - Formats</b></div>
<hr>
<div class="row px-1">
    <p style="text-align: justify; font-size: 16px;">
        In the golden era, cricket was played for days as each team almost played more than 100 overs a day. We can relate that to the current format of Test cricket. In the early days of cricket, an over involved eight legal deliveries. Gradually, new formats and rules came into existence and an over was reduced to six legal deliveries across all formats. We’re going to discuss the different formats of professional cricket in this chapter and few rules about them.
    </p>
    <h3 style="color: #fd7e14;" class="py-4"><b>Test Cricket</b></h3>
    <p style="text-align: justify; font-size: 16px;">Test cricket is considered the format of highest level as it required both mental and physical strength to excel. All players wear white tees and trousers for this format. A red cricket ball is used to play. The earliest format of test cricket was played for six days with a day as reserve. The field restrictions are quite different compared to limited overs cricket. Teams A and B have to play two innings each, if necessary. 90 overs are to be bowled every day. Team A batting first scores X runs. Team B gets to bat if team A declares their innings or is all-out. Team B should score X or more runs to stand a good chance of winning the match. Then, team A gets to bat for second time and set target for team B. Now, Team B has to achieve target in the time left and overs to be bowled. In case team B gets all-out during the chase in second innings, team A is declared winner, else the match is drawn between the teams.</p>
    <h3 style="color: #fd7e14;" class="py-4"><b>One-Day International</b></h3>
    <p style="text-align: justify; font-size: 16px;">One-day international (ODI) is a limited over format of cricket. It was introduced in 1980s and 60 over a side were bowled. The dress code was same to that of test cricket. Over the years, this format also went through drastic changes in rules and it was reduced to 50 over a side and colored uniform. The red-ball was replaced with white-ball. Team A batting first had to set a target for team B in 50 overs. Batting second, team B had to chase down the target in same number of overs. If they fail to do so, team A is declared as the winner irrespective of team A bowling out team B or not.</p>
    <h3 style="color: #fd7e14;" class="py-4"><b>T20 International</b></h3>
    <p style="text-align: justify; font-size: 16px;">T20 is the latest and the most successful format of cricket. It has attracted lot of spectators to the ground and witness the match. Cricket became a widespread game in this format and new countries like United States, Malaysia, Canada, and Netherlands adapted to it swiftly. It originated in Caribbean islands, West Indies. Each team gets to play 20-over a side. Since it is the shortest format of the game, it is played under flood lights.

        Batting first, team A sets a target for team B in 20 overs. Team B has to achieve the target in their stipulated number of overs while batting second. Team B is declared the winner if they achieve the target else, team A is declared victorious. Team A is declared the winner even if they restrict team B from scoring the required number of runs and don’t get themselves bowled-out.</p>
</div>
{% endblock %}