{% extends 'football.html' %}
{% load static %}

{% block selected %}

<!-- Popular Terms Start -->
<div class="row text-center p-5 h2" style="color: #fd7e14;"><b>Popular Terms</b></div>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        This chapter explains all the popular terms used at play. Some of these are important rules 
        that every football player should be aware of. People following the game closely will find 
        this chapter interesting.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Advantage Rule</b> − This rule is applied when there is no need to stop the play 
        when a foul is noticed by the referee.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Aggregate Score</b> − This is the average score scored by the teams that play 
        in the club competitions. These clubs usually conduct games on the knockout basis. 
        The teams will be paired to play each other twice, one on the home ground of both the teams. 
        The score is then deicide by adding the scores in both the matches.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Attacker</b> − The term referred to a striker and someone who is close to the goal post 
        of the opposing team.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Ball in and out of play</b> − The ball to be passed out of the play must be found outside 
        the sideline or the goal line. It can be played even if it is on the side line. The game 
        continues as long as the ball is in the play.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Bicycle kick</b> − This is a style or a volley where the player kicks the ball over 
        his head while doing a somersault. The player has both his feet off the ground and 
        kicks the ball simultaneously while doing a somersault.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Booter </b> − A term used in the game which means to kick the ball. To boot means to 
        kick the ball very hard, long and high.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Clear </b> − This is used whenever a situation or chance to score a goal arises in the game. 
        The player should immediately clear the ball or kick the ball away from the goal mouth so that a 
        goal can be stopped. Sometimes they even pass the ball or start an attack and other times they 
        just boot the ball out of the play.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Captain </b> -A player who is chosen to lead a team in the match and to deice the toss 
        before the match. 
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Chip</b> - A high and a long shot hit so that the ball passes over the goalkeeper’s 
        head directly into the goal.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Dead Ball</b> - When the players are stopped and the ball is not moving this is called Dead Ball. 
        Such a situation arises when there is a chance for free kicks and penalty kicks.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Extra time</b> - This is an additional time of play, whenever there is a tie and is played in two 
        halves of 15 minutes to decide the winner.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Foul </b> - A term used to describe the breach of the laws of Football by a player and this can 
        be punishable by a free kick or penalty.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Free Kick</b> - Granting an unobstructed kick to a stationary ball, especially whenever the 
        opposing team makes a foul. 
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Goalkeeper </b> -  A specialized player who is also called as goalie. The work of a goalkeeper 
        is to stop the ball from reaching the goal post behind him.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Hand Ball</b> - The term used when the players use their hand or arm while playing or passing 
        the ball. This is considered to be offensive in the game.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Head </b> - To head the ball means to play the ball with forehead, be it to clear, pass or 
        to score a goal.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Mark </b> - When the game is in the man to man situation, the defender is said to mark the attacker. 
        The farther he is to him the looser the marking and the closer he plays to him the tighter the marking.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Man of the match</b> - A term used for the best player of the game
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Own Goal</b> - A situation where a player unintentionally kicks the ball into his own goal is 
        conceded as own or self-goal.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Pass </b> - An action where a player kicks the ball to his team mate.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Penalty </b> - The situation where a player kicks the ball from the penalty spot and there is 
        only one defender near the goal i.e. the goalkeeper.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Period </b> - Football game is divided into two halves in time; first half and second half.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Pitch </b> - The Football field is called the pitch for easy use.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Referee </b> - The official in-charge of the game. Referee is the final decision maker in the game; 
        he is the one who checks the time and stops the game when it is over. Players cannot enter or leave 
        the field without his consent. It is the responsibility of the referee to see that the game, ball 
        and players all conform to the rules of the game. There are two assistant referees in the game.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Red Card</b> - A decision of the referee where he decides if a player has made an offence and 
        then asks him to leave the game for the remaining duration.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Scissor Kick</b> - To kick the ball forward while the player leans sideways and the ball is kicked 
        in the direction which he is playing. This kick is performed while the player is completely off the ground.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Scoreline</b> - Indication of scores of both the teams which also has the information about the 
        home ground. If the scoreline shows ABC 0 and DEF 2, this means the game is on ABC’s home ground 
        and the winner is DEF with 2 goals.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Tackle </b> - A term used when a player uses his body to take the ball from the opponent, it can be a 
        shoulder charge. Clean tackling means to successfully take the ball from the opponent without a foul.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Time </b> - The Football game is divided into two halves and each half is dedicated to be strictly 
        for 45 minutes in any professional game.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Yellow Card</b> - This is show to the player, warning him that he has committed a serious offence 
        in the match. It is followed by another yellow card in case of another offence and then the red card.
    </p>
</div>
<!-- Popular Terms End -->
{% endblock %}