{% extends 'football.html' %}
{% load static %}

{% block selected %}
    <!-- Participating Countries Start-->
<div class="row text-center p-5 h2" style="color: #fd7e14;"><b>Participating Countries</b></div>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        Soccer has its roots in China; however, Africa, Middle-east, Europe, and Americas play this game with 
        utmost love. People from these regions love the sport and follow their national teams and favorite clubs.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        Japan, South Korea, and Indonesia are the other countries with national teams that have represented in 
        international events. Indonesia is first Asian country to have qualified for World Cup. However, India 
        has made a mark in Asian tournaments and is yet to qualify for an international tournament.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        The <b>Asian Football Confederation</b>  (AFC) is the governing body of 47 member associations. It was formed 
        in 1954 and headquartered in Kuala Lumpur, Malaysia. Some of these are intercontinental countries like 
        Russia, Turkey, Azerbaijan, and Israel. Australia had joined AFC in 2006 before being a member of Oceania 
        Football Federation.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        There are as many as five governing bodies that manage football outside Asia. All the independent 
        football bodies of various countries are associated with these five federations. Here is the list of 
        various associations and member countries associated with them −
    </p>
    <ul style="list-style-type: square;" class="px-5 ml-5">
        <li>
            <p>
                <b>Confederation Africaine de Football</b> (CAF) − Governing body for the participating countries 
                which are Algeria, Cameroon, Ghana, Cote d’Ivoire and Nigeria.
            </p>
        </li>
        <li>
            <p>
                The <b>Confederation of North, Central America and Caribbean Association Football</b> (CONCACAF) − 
                Governing body for North America, Central America and the Caribbean along with Guyana, 
                Suriname and French Guiana.
            </p>
        </li>
        <li>
            <p>
                <b>CONMEBOL</b> − The South American Football Confederation is the governing body of association 
                for football in South America and the countries associated are Argentina, Brazil, Chile, Colombia, 
                Ecuador, and Uruguay.
            </p>
        </li>
        <li>
            <p>
                <b>Union of European Football Associations</b> (UEFA) − It is the governing body for football 
                associations in whole of Europe. It is a commemorate of 54 nations and some of those are Croatia, 
                England, France, Germany, Greece, Italy, Netherlands, Portugal, Russia, Spain, Switzerland, 
                Belgium, Bosnia, and Herzegovina.
            </p>
        </li>
    </ul>

</div>
<!-- Participating Conrties End-->
{% endblock %}