{% extends 'football.html' %}
{% load static %}

{% block selected %}

<!-- How to Play? Start -->
<div class="row text-center p-5 h2" style="color: #fd7e14;"><b>How to Play?</b></div>
<div class="row">
    <p style="text-align: justify; font-size: 16px;">
        To become a good Football player, the basic and the most important requirement 
        is to be fit, energetic, and tactful. This game needs a lot of running and technical 
        skills in dealing with the ball and the opponent. You have to be a team player and an 
        individual contributor at the same time. To be a Football player, you have to train hard 
        and learn to be faster than your opponent.
    </p>
    <h3 style="color: #fd7e14;" class="py-4"><b>Football kick-off</b></h3>
    <p style="text-align: justify; font-size: 16px;">
        A football match begins with the toss of coin. The match referee and the two captains meet at 
        the center of the field. The captain of the team who wins the toss gets to decide which goalpost 
        to attack in the first half, while the team that loses the toss gets to kick-off to begin the match.
        The players take position in their own half of the field. The ball is placed at the center point 
        of the field. Once the referee blows the whistle, a player from the team that lost the toss takes 
        the kick-off, and the ball moves forward. This player cannot touch the ball again till any other 
        player from either team touches the ball. During the second half, the teams switch goals and the 
        team that won the toss gets to kick-off.
    </p>
    <h3 style="color: #fd7e14;" class="py-4"><b>Essential Skills</b></h3>
    <p style="text-align: justify; font-size: 16px;">
        We have listed here a few essential skills that a player should acquire to become a professional 
        footballer
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to dribble</b>− It is the most important act while playing the game. Dribbling means 
        controlling and keep possession of the ball while running. To dribble means to keep the ball 
        with you and your team’s possession, you need to dribble well so that you touch the ball strong 
        enough to move it forward but you should also see that it doesn’t move away very far from you.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to pass</b> − To pass a ball means to move the ball accurately to the place where you want 
        it to be. To pass a ball, you have to kick the ball in a direction where you want it to move. 
        Passing a ball can be done using the inside of your foot, this will give good accuracy and require 
        less power. After learning to pass the ball you can master the act by slicing and hooking the ball 
        to pass it to your teammates.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to shoot</b> Shooting a ball comes in scene when you are closer to a goal and you need to 
        score a goal. This will need a lot of power and accuracy. You need to set your plantar foot and aim 
        at the goal and shoot the ball. Taking the right place on the field is very important. Sometimes 
        the player needs to run a lot when he is not near the ball, in this situation the player needs to 
        estimate his teammate’s next move and take the position where his teammate expects him to be.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to defend the goal</b> − The player uses skills to try and get the ball away from the 
        opponent player. The player needs to be focused and should quickly tackle the ball based on the 
        moves of the other player. In some situations, opponent players could trick but the player should 
        constantly keep an eye on the ball and player movements. This way a player can defend the opponent 
        from scoring a goal.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to head the ball</b> − A player uses his forehead to guide the ball in the desired 
        direction and passes it to his teammate. Heading the ball is frequent when scoring a goal after a corner 
        kick.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to juggle</b> − Juggling is not an easy task, but it’s important for a player to learn how 
        to juggle when required. This helps to control the ball when it’s coming in the air as the ball won’t 
        be on the ground every time.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to use the non-dominant foot</b> − It’s very important for a player to learn how to use 
        his non-dominant foot since this can be an advantage for the opposing team if not mastered. Playing 
        with only the dominant foot is playing handicapped. Hence to learn how to use your non-dominant foot 
        is very important.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Learn to be spontaneous and keep your originality</b> − This is the key to master the game. Having 
        an own style of play is a great asset. One should learn to be either tricky, fast, powerful or defensive.
    </p>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/dribble.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Dribbling</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/pass.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Passing</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/shoot.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Shoot</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/defend.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Defend The Goal</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/dribble.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Head The Ball</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/pass.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>Juggling</b></a>
        </div> 
    </div> 
    <div class="col-md-3">
        <div class="card p-0  my-3" style="border-color: #fd7e14;">
            <img src="{% static 'images/Training/Football/shoot.jpg' %}" class="card-img-top image-thumbnail col-12" alt="..." style="width: 100%;">
            <a href="" class="btn btn-sm m-1 text-white" style="background-color: #fd7e14;"><b>use the non-dominant foot</b></a>
        </div> 
    </div>
</div>
<!-- How to Play? End -->
{% endblock %}