{% extends 'trainingHome.html' %}
{% load static %}

{% block football %}

<!-- Rules & Regulations Start -->
<div class="row text-center p-5 h2" style="color: #fd7e14;"><b>How to Play?</b></div>
    <div class="row">
    <p style="text-align: justify; font-size: 16px;">
        Let’s also understand the <b>rules of the game</b> that are to be followed while playing the game. 
        Listed here are some of the major rules and regulations of the game.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Offside</b> offence is one of the most important rule to follow in Football. It is basically 
        designed so that the players do not cherry pick or bunch a lot of time near the opponent’s goal. 
        A player can be said to be in an offside position when he is in the opponent’s half and also behind 
        the last defender.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Throw-in</b> comes into the game when the ball is either kicked or travels completely outside the field. The chance of throw-in is given to the team which didn’t last touch it. Throw-in can be done from the place where the ball is outside the field. Throw-in means to catch the ball with both the hands behind the head and throw it inside the field.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>The yellow card rules</b> − The yellow card is issued to the players by the referee when a player commits a mistake. The referee shows the player yellow warning him of his first mistake. If a player is shown the yellow card twice then he should leave the game permanently. Reason for the referee to show the yellow card −
    </p>
    <ul style="list-style-type: square;" class="px-5 ml-5">
        <li>
            The players who play the game disregarding the rules of the game
        </li>
        <li>
            Playing dangerously which means hurting the head of the opponent’s team members.
        </li>
        <li>
            Shooting the ball at any player intentionally.
        </li>
        <li>
            Goalkeeper violating the rules of the game by passing the ball with hands to his teammates when kicked by them.
        </li>
        <li>
            Wasting the time of game intentionally.
        </li>
    </ul>
    <p style="text-align: justify; font-size: 16px;">
        <b>The red card rules</b> − The red card is issued when a player is shown the yellow card twice and commits a mistake after that. Reasons for the referee to show the red card to a player are −
        Physically hurting a player by kicking intentionally.
    </p>
    <ul style="list-style-type: square;" class="px-5 ml-5">
        <li>
            Physically hurting a player by kicking intentionally.
        </li>
        <li>
            Intentionally jumping on a player.
        </li>
        <li>
            Hitting a player or charging a player roughly.
        </li>
        <li>
            Pushing or holding a player.
        </li>
        <li>
            Handling the ball incorrectly.
        </li>
    </ul>
    <p style="text-align: justify; font-size: 16px;">
        <b>Free kick</b> − These are given as a penalty for the team players when the opposing team makes a foul. There are two types of free kicks −
    </p>
    <ul style="list-style-type: square;" class="px-5 ml-5">
        <li>
            <b>Direct free kick</b> − In this, the ball can be kicked directly into the goal and it doesn’t need to be passed or touched by the teammate of the kicker.
        </li>
        <li>
            <b>Indirect kick</b> − In this, the ball must be touched by another teammate of the player who kicks it before scoring a goal.
        </li>
    </ul>
    <p style="text-align: justify; font-size: 16px;">
        <b>The rules of penalty kick</b> − A chance for penalty kick arises when a defending team player commits a foul in the opposing team’s penalty box. Except the goalie all the other players must stand in line outside the penalty area. The goalie should stand on the goal line. The ball should be placed on the penalty spot and then kicked.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Corner kick</b> − A chance for the corner kick arises when the ball goes over the goal line but not into the goal and was last touched by the defending team member.
    </p>
    <p style="text-align: justify; font-size: 16px;">
        <b>Goal kick</b> − When the ball goes over the goal line but not into the goal and was last touched by the attacking team, the ball will be then moved in to the possession of the defending team and the goalie performs the goal kick.
    </p>
</div>

<!-- Rules & Regulations -->
{% endblock %}
