{% extends 'adminbase.html' %}

{% block admincontent %}
    {% for message in messages %}
        <div class="p-2 alert alert-success" id="msg">
            {{ message }}
        </div>
    {% endfor %}
    <div class="p-5 col-12">
        <div class="p-5 conatiner-fluid">
            <div class="col-6 p-5 offset-3" style="box-shadow: gray 2px 2px 10px 2px; border-radius: 10px;">
                <div class="col-12 h1 text-center">
                    <span style="font-weight: bold;">Add Features</span>
                </div>
                <form action="{% url 'updatefeatures' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="form-outline mb-4">
                        <label class="form-label" for="features">Select features</label>
                        <select name="features" id="features" required class="form-select">
                            {% for feature in features_obj %}
                                <option value="{{ feature.featurename}}" style="text-transform: capitalize;">{{ feature.featurename}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-outline mb-4">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" name="image" id="image" required class="form-control">
                    </div>
                    <div class="form-outline mb-4">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description" cols="50" rows="4" required></textarea>
                    </div>
                    <div class="pt-1 mb-4 text-center">
                        <button class="btn btn-dark btn-lg btn-block col-12" type="submit"><b>UPDATE</b></button>
                    </div>
                </form> 
            </div>
        </div>
    </div>


{% endblock %}