{% extends 'tutorial.html' %}
{% load static %}

{% block tutorialHomeCarousel %}
    <!-- carousel start -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
    
          <!-- Slide 1 -->
          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Video Tutorial</span></h2>
              <p class="animate__animated fanimate__adeInUp">There are many sports tutorials are available in our website. Mainly we are focused in two sports , cricket and Football. Each sports video tutorials are seperated as fitness, runnig, etc.. </p>
            </div>
          </div>
          <!-- Slide 2 -->
          <div class="carousel-item active">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">Football</h2>
              <p class="animate__animated animate__fadeInUp">Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal. Unqualified, the word football normally means the form of football that is the most popular where the word is used. </p>
              <a href="{% url 'footballvideoTutorialHome' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">GO</a>
            </div>
          </div>
    
          <!-- Slide 3 -->
          <div class="carousel-item">
            <div class="carousel-container">
              <h2 class="animate__animated animate__fadeInDown">Basic Knowledge</h2>
              <p class="animate__animated animate__fadeInUp">Every athlet should be know the basic Knowledge about the sports. In this section many games details are shared here. Basically a athlet or player should be know the rules od the sports for their good appearences</p>
              <a href="{% url 'footballOverview' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">GO</a>
            </div>
          </div>
    
          <a class="carousel-control-prev text-decoration-none" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
          </a>
    
          <a class="carousel-control-next text-decoration-none" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
          </a>
    
        </div>
    
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </path></defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </use></g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </use></g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </use></g>
        </svg>
    
      </section>
      <!-- carousel end -->
  
  

{% endblock %}